.container {
    margin: 0 1rem;
}


.form_box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
    color: #7494ec;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

p .login-link {
    cursor: pointer;
}

.password {
    position: relative;
}

.icon_reveal {
    position: absolute;
    right: 550px;
    bottom: 32%;
    cursor: pointer;
    color: #666;
    font-size: 1.2rem;
}


@media screen and (min-width: 767px){
    .icon_reveal {
        right: 255px;
        bottom: 30.5%;
    }
}